html {
	font-family: 'Roboto', sans-serif;
}
li {
	list-style-type: none;
	font-family: 'Philosopher', sans-serif;
}
.navbar-inverse {
	background: black;
	border: none;
}
.navbar li {
	font-size: 24px;
}
.h1_text {
	margin-top: 0px;
	font-size: 140px;
	text-align: center;
	padding-top: 150px; 
	color: #ffe830;
	font-family: 'Russo One', sans-serif;
}
.h2_text_logo {
	text-align: center;
	color: #35e235;
	font-family: 'Pattaya', sans-serif;
	/*text-shadow: 0px 0px 0.2px #DAFFA3;*/
	font-size: 52px;
}


.background_img {
	background: url(images/back.jpg) no-repeat;
	background: -webkit-linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url(images/back.jpg) no-repeat;
	background: -o-linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url(images/back.jpg) no-repeat;
	background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url(images/back.jpg) no-repeat;
	background-position: center center;
	-moz-background-size: cover;
    -webkit-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 	
	height: 100vh;
}
.padding_0 {
	padding-left: 0;
	padding-right: 0; 
}
.padding_0_top {
	padding-top: 0px;
	padding-bottom: 0px;	
}
.about_1 {
	text-align: center;
	font-family: 'Russo One', sans-serif;
	color: #633007;
	padding-top: 60px;
	padding-bottom: 30px;
}
.about_2 {
	text-align: center;
	font-family: 'Russo One', sans-serif;
	color: #000000;
}
.border_icon {
	width: 50%;
	margin: 0 auto;
	height: 42px;
	text-align: center;
}
.line_center_left {
	width: 40%; 
	text-align: center; 
	border: 1px solid #b84129; 
	line-height: 0.2em;
	position: relative;
	top: -20px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	z-index: 0; 
}
.line_center_right {
	width: 40%; 
	text-align: center; 
	border: 1px solid #b84129; 
	line-height: 0.2em;
	position: relative;
	top: -20px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	z-index: 0; 
	float: right;
}
.i_zindex {
	z-index: 1000;
	position: relative;
	width: 80px;
	color: #3a094a;
}
.about_product ul li{
	padding-top: 10px; 
	text-align: center;
	font-size: 30px;
	height: 100%;
}
.about_product ul {
	padding-left: 0px;
}
.food {
	height: 20px;
	text-align: center;
}
.food img {
	height: 300px;
	text-align: right;
}
.food_33 {
	width: 33%;
	float: left;
}
.food p {
	padding-top: 15px; 
	font-size: 30px;
	font-family: 'Philosopher', sans-serif;
}
.colore {
	color: #e20a0a;
}
.products_row_1 img {
	height: 100%;
	width: 70%;
}
.products_row_1 {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 32px;
	padding-top: 10px;
}
p {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
}
.bs-docs-footer {
	padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #21042f;
}
.bs-docs-footer p {
	text-align: left;
}
.bs-docs-footer p a{
	padding: 5px;
}
.products_all {
background: #fe8c00; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
padding-bottom: 60px;
}
.about_healt {
	padding: 50px 0 50px 0;
	background: -webkit-linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.9)), url(images/qfivxu7nxgu-sambazon.jpg) no-repeat;
	background: -o-linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.9)), url(images/qfivxu7nxgu-sambazon.jpg) no-repeat;
	background: linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.9)), url(images/qfivxu7nxgu-sambazon.jpg) no-repeat;
	background-position: center center;
	-moz-background-size: cover;
    -webkit-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}	
   
#contacts_us {
	background: url(images/ttrjmhrkoey-juan-jose-valencia-antia-min.jpg) no-repeat;
	background-position: center center;
	-moz-background-size: cover;
    -webkit-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    padding: 80px 0;	
}
.contacts_us form {
	-webkit-box-shadow: 2px 1px 5px 2px #191919;
	box-shadow: 2px 1px 5px 2px #191919;
	width: 400px;
	margin: 0 auto;
	padding: 20px 0;
	background: rgba(0,0,0,0.8);
	font-family: 'Philosopher', sans-serif;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.submit input {
	height: 40px;
	width: 150px;
	border: none;
	background: rgba(231,237,235, 1);
}
.contacts_us input {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.contacts_us textarea {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.products_row_1 h3 {
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	color: #f7941d;
}
.products_row_1 p {
	font-size: 24px;
}